.city-column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
}

.city-column input {
    display: none;
}

.input-selected {
    font-weight: bold;
}

#pjax-select-city {
    float: right;
}

.select-city-label {
    border-bottom: 1px #2f2f2f dashed;
    cursor: pointer;
}

.select2-container {
    z-index: 10000;
}

.parent-string {
    color: #737373;
    font-style: italic;
}

.select2-results__option--highlighted .parent-string {
    color: #d1d1d1;
}

.city-name label {
    position: relative;
    color: #343434;
    padding-left: 14px;
    cursor: pointer;
}

.city-selected {
    color: black;
}

.city-selected:before {
    content: "✔";
    color: darkgreen;
    position: absolute;
    left: 0px;
}